body {
  background-color: blue;
}

#targetBox {
  width: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#targetBox h1 {
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
}

#blind {
  background-color: blue;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}