/* mixin */

@mixin btn($border-color: black, $font-color: black) {
  padding: 10px 20px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 14px;
  font-weight: bold;
  border: 1px solid $border-color;
  color: $font-color;
}

.btn-1 {
  @include 버튼($font-color: red);
}

.btn-2 {
  @include 버튼(blue, blue);
}
