.container {
  width: 400px;
  height: 600px;
  border: 1px solid #000;
  color: white;
  font-weight: bold;
}

p {
  margin: 0;
}

.top {
  width: 400px;
  height: 200px;
  background-color: red;
}

.left {
  width: 100px;
  height: 200px;
  background-color: blue;
  float: left;
}

.right {
  width: 100px;
  height: 200px;
  background-color: green;
  float: left;
}

.bottom {
  clear: both;
  width: 400px;
  height: 200px;
  background-color: purple;
}
